@model IEnumerable<ToDoListMVC.Models.ToDo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="ToDoTable"></div>

@section Scripts 
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/MyScripts/BuildTable.js"></script>
}
